.content {
    font-size: 35px;
    color: #454545;
    font-weight: bold;
    text-align: center;
}

.projects a {
	color:white;
	text-decoration: none;
}

.projects td {
	text-align: left;
}

.badge {
    font-size:.7em;
	background:green;
	width:40px;
	height:40px;
	text-align:center;
	line-height:40px;
	border-radius:50%;
	box-shadow:0 0 1px #333;
	display: block;
}

.badge-good {
	background:green;
}

.badge-down {
	background:red;
}

.badge-warning {
	background:orange;
}

.projects {
	color:white;
}